#logo{width: 1000px;padding:10px 0;margin:0 auto;}

/*用户注册*/
#registe_box{
	width: 900px;
	margin:0 auto;
	font-family: "微软雅黑";
	margin-bottom: 50px;
}
/*内容*/
/*左侧图片*/
#registe_left{float: left;margin-right: 50px;}
/*右侧登录信息*/
#registe{width: 398px;float: left;border:1px solid #E0E0E0;background-color: #FCFCFC;}
h1{font-size: 18px;padding:25px;font-weight: bolder;}
.registe_text{
	display: inline-block;
	width: 90px;
	text-align: right;
	color: gray;
}
.login_admin{
	height: 26px;
	line-height: 26px;
	width: 225px;
	padding-left:3px;
	margin-left: 5px;
	vertical-align:middle;
}
.message{
	color: red;
	height: 25px;
	line-height: 25px;
	padding-left: 97px;
	font-size: 12px;
}
#code img{vertical-align: middle;}
#identifying_code{
	width: 65px;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	margin-left: 5px;
}
#code a{font-size: 12px;color: gray;}

#registe_btn{padding-left: 97px;margin-bottom: 15px;font-size: 12px;font-weight: bold;}
#registe_sub{
	height: 30px;
	width: 100px;
	line-height: 30px;
	font-size: 14px;
	color: white;
	background-color: #FF8000;
	border:0;
	font-weight: bold;
	margin-right: 5px;
	vertical-align: middle;
}
#choose{vertical-align: middle;}
#registe_sub:hover{background-color: #F75000;}
